<h1> Welcome to the 80s Action Blog </h1>

The only decade of action that matters.

<ul>
  {{#each model.blogposts as |blogpost|}}
     {{blogpost-tile blogpost=blogpost}}
  {{/each}}
</ul>

{{new-blogpost save2="save3"}}

<h2> Authors </h2>

<ul>
  {{#each model.authors as |author|}}
    {{author-tile author=author}}
  {{/each}}
</ul>

{{new-author saveAuthor2="saveAuthor3"}}

<hr>
