<h1> Welcome to the 80s Action Blog </h1>

The only decade of action that matters.

<ul>
  {{#each model as |blogpost|}}
     {{blogpost-tile blogpost=blogpost update="update" destroyBlogpost="destroyBlogpost"}}
  {{/each}}
</ul>

{{new-blogpost save2="save3"}}
