<h1> Welcome to the 80s Action Blog </h1>

The only decade of action that matters.

<ul>
  {{#each model as |blogpost|}}
     <li>{{blogpost.title}} | {{blogpost.author}} | {{blogpost.image}} | {{blogpost.content}}</li>
  {{/each}}
</ul>
