<h1> Welcome to the 80s Action Blog </h1>

The only decade of action that matters.

<ul>
  {{#each model as |blogpost|}}
     {{blogpost-tile blogpost=blogpost destroyBlogpost="destroyBlogpost"}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
